/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* reset */
* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #212121;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

main {
  max-width: 1500px;
  margin: 30px auto;
}

.container {
  position: relative;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

/* top bar */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav h1 {
  margin: 1rem 2rem;
  font-size: 3rem;
  color: #212121;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* meals container */
#meals {
  padding: 0 10px;
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.meal {
  height: 200px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px gray;
          box-shadow: 0px 0px 10px gray;
  background-size: cover;
  cursor: pointer;
}

.meal h3 {
  font-size: 1.4rem;
  color: white;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  padding: 10px;
  text-align: center;
}

/* Ingredients */

#ingredients {
  position: relative;
  top: 0px;
  background: rgba(255, 255, 255, 0.92);
  padding: 20px;
}

#ingredients img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 10px;
}

#ingredients h2 {
  margin: 10px 0 10px 20px;
  font-size: 2rem;
}

#ingredients h3 {
  margin: 10px 0 10px 40px;
  text-decoration: underline;
}

#ingredients ul {
  margin: 0;
  padding-left: 30px;
  list-style-type: none;
}

.ingredient {
  margin: 5px 0;

}

.ingredient::before {
  content: "🥦";
  display: inline-block;
  margin-right: 10px;
  -webkit-transform: rotate(90deg) scale(0.8, 0.8);
      -ms-transform: rotate(90deg) scale(0.8, 0.8);
          transform: rotate(90deg) scale(0.8, 0.8);
}

.ingredients-closed {
  display: none;
}

#close-ingredients-btn {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
  color: #424242;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#close-ingredients-btn:hover {
  color: #212121;
}

input {
  background-color: #EEEEEE;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #212121;
}

input:focus, button:focus {
  outline: none;
}

input:focus {
  background-color: #BDBDBD;
}

input, button {
  height: 60px;
  border: none;
  font-size: 1.6rem;
  padding: 0 20px;
}

button {
  background-color: #00695C;
  color: white;
  width: 160px;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

button:hover {
  background-color: #004D40;
}

